.healings-section {
  margin-top: 182px;
}

.healings--grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  margin-top: 2.9rem;
}

.healing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 0;
  text-align: center;
}

.healing-item img {
  margin-bottom: 1.45rem;
}

.healing-text {
  max-width: 310px;
}

@media (min-width: 800px) {
  .healings-section {
    margin-top: 273px;
  }

  .healings--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
