.healings-section {
  margin-top: 84px;
}

.healings--grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  margin-top: 2.9rem;
}
.healings-landing {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 84px);
  margin-bottom: 3rem;
}

.healing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 0;
  text-align: center;
}

.healing-item img {
  margin-bottom: 1.45rem;
  border-radius: 4px;
  /* height: 100%;
  width: 100%; */
}

.healing-text {
  max-width: 310px;
}

.testimonials--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  place-items: flex-start;
  justify-items: center;
}

.testimonials--grid > .testimonials--card {
  flex: unset;
}

@media (min-width: 768px) {
  .healings-section {
    margin-top: 207px;
  }

  .healings-landing {
    height: calc(100vh - 207px);
  }

  .healings--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  /* .healings-section {
    margin-top: 207px;
  } */

  .healings--grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
