.services-section {
  /* min-height: calc(100vh + 182px); */
  margin-top: 83px;
  background: url("../media/images/desktop/leaf--to-left-big.webp") left 30vw
    top 60vh no-repeat;
  background-size: contain;
}

.services-section.container {
  margin-top: 4em;
}

.services-section > .container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 3rem;
  place-items: flex-start;
}

.services--grid {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.services-img {
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.45rem;

  max-width: 350px;
}

.services--box {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (min-width: 768px) {
  .services-section {
    /* min-height: calc(100vh + 182px); */
    margin-top: 134px;
  }

  /* .services-img-container,
  .services--card {
    width: 50%;
  } */
}

@media (min-width: 1024px) {
  .services-section {
    /* min-height: calc(100vh + 182px); */
    margin-top: 174px;
  }
}
